.page {
    font-family: "Manrope", sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(1, 1, 6, 1);
}

.one {
    background-image: linear-gradient(rgba(37, 187, 197, 0), rgba(1, 1, 6, .9)), url(/img/Background1.png);
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 104px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-block-end: 2px solid rgba(255, 255, 255, 0.5);
}

.logo {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

.colored {
    color: rgba(13, 148, 158, 1);
}

.list {
    display: flex;
    text-transform: uppercase;
}

.header__menu-list {
    align-items: center;
    gap: 20px;
}

.link,
.button {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.menu-item {
    font-size: 14px;
    padding: 12px;
}

.point {
    position: relative;
    display: flex;
    justify-content: center;
}

.point::after {
    content: '';
    inline-size: 8px;
    block-size: 8px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    bottom: -5%;
}

.point:hover::after {
    background-color: rgba(37, 187, 197, 1);
}

.bg {
    background-color: rgba(19, 19, 19, 1);
    inline-size: 44px;
    border-radius: 20%;
}





/* .loupe {
    inline-size: 43px;
    block-size: 43px;
    background-color: rgba(1, 1, 6, 1);
    border: none;
    background-image: url(/svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
} */















.hero {
    display: flex;
}

.hero__txt {
    display: flex;
    flex-direction: column;
    padding: 137px 41px 137px 104px;
}

.title {
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -2.8px;
    text-transform: uppercase;

}

.grad1 {
    background-image: linear-gradient(rgba(37, 187, 197, 1), rgba(37, 187, 197, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad2 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(18, 67, 94, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plus {
    display: inline-block;
    font-size: 600px;
    font-weight: 400;
    padding-inline-end: 41px;
    line-height: 0.7;
}

.clients {
    padding: 10px 104px 40px;
}

.clients__logos-wrapper {
    padding: 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    position: relative;
}

.clients__logos-wrapper::before,
.clients__logos-wrapper::after {
    content: '';
    inline-size: 20%;
    block-size: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.clients__logos-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(1, 1, 6, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.clients__logos-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(1, 1, 6, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.clients__logos-set {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    inline-size: 100%;
}

.clients__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 125px;
}

.logo-img {
    block-size: 100%;
}

.marquee {
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}


.usp__list {
    display: flex;
    justify-content: space-between;
    padding: 0 104px;
}

.usp__list-item {
    padding-block-end: 13px;
    border-block-end: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.usp__list-item::after {
    content: '';
    display: block;
    block-size: 5px;
    background-color: rgba(37, 187, 197, 1);
    position: absolute;
    inset: 0;
    top: 100%;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.4s;
}

.usp__list-item:hover::after {
    transform: scale(1);
}

.usp-item-link {
    font-size: 18px;
    letter-spacing: -11;
    font-weight: 600;
    padding: 15px 270px 0 0;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 125px 0;
}

.serve {
    align-items: center;
    border-block-end: 1px solid rgba(255, 255, 255, 0.3);
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__txt {
    padding: 0 80px 0 104px;
    border-inline-end: 1px solid rgba(255, 255, 255, 0.3);
}

.txt-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.txt-description {
    font-size: 18px;
}

.number {
    font-size: 264px;
    letter-spacing: -20px;
    line-height: 1;
}

.about__number {
    justify-self: end;
}

.grad3 {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(1, 1, 6, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team {
    position: relative;
    overflow: hidden;
}

.team::after {
    content: '';
    background: url(/img/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    inset: 0;
    top: 25%;
    position: absolute;
    z-index: -1;
    filter: hue-rotate(33deg);
}

.team__about {
    position: relative;
}

.team__about::before {
    content: '';
    position: absolute;
    inline-size: 616px;
    block-size: 208px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-inline-start: transparent;
    border-block-end: transparent;
    border-top-right-radius: 24px;
    right: 50%;
    bottom: 10%;
}

.team__about::after {
    content: '';
    position: absolute;
    inline-size: 616px;
    block-size: 208px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-inline-end: transparent;
    border-block-start: transparent;
    border-inline-start: transparent;
    border-bottom-left-radius: 24px;
    left: 50%;
    bottom: 7%;
}

.team__number {
    justify-self: start;
}

.team__txt {
    padding: 0 104px 0 80px;
}

.bullets__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-transform: none;
}

.bullets-item {
    position: relative;
    display: flex;
    gap: 16px;
}

.bullets-item::before {
    content: '+';
    display: block;
    font-size: 30px;
    line-height: 1;
    color: rgba(13, 148, 158, 1);
}

.profiles {
    display: flex;
    gap: 80px;
    padding-inline-start: 104px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    inline-size: 520px;
}

.profile-img {
    mix-blend-mode: plus-lighter;
}

.profile-reverse {
    padding-block-start: 311px;
}

.profile::before {
    content: '';
    inline-size: 420px;
    block-size: 420px;
    border: 33px solid rgba(13, 148, 158, 1);
    border-radius: 50%;
    position: absolute;
    opacity: 0.3;
    bottom: 43%;
    left: -55%;
}

.profile::after {
    content: '';
    inline-size: 2px;
    block-size: 233px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.2;
    position: absolute;
    left: 5%;
    bottom: 25%;
}

.profile-reverse::before {
    border: 33px solid rgba(194, 238, 240, 1);
    opacity: 0.1;
    bottom: -3%;
    left: 35%;
}

.profile-reverse::after {
    bottom: 0;
    top: 28%;
}

.profile-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    line-height: 1.2;
    padding-inline-start: 50px;
    padding-inline-end: 125px;
}

.profile-title {
    font-size: 30px;
    text-transform: uppercase;
}

.profile-subtitle {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(37, 187, 197, 1);
}

.profile-description {
    font-size: 18;
    line-height: 1.2;
}

.services {
    padding: 100px 104px;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    justify-content: space-between;
}

.services__item {
    border: 2px solid rgba(37, 187, 197, 1);
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__img {
    inline-size: 76px;
    block-size: 76px;
}

.services__title {
    font-size: 18px;
    font-weight: 600;
    color: rgba(37, 187, 197, 1);
    line-height: 1.2;
}

.contact {
    background-image: url(/img/Background3.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 104px;
    display: flex;
    justify-content: space-between;
}

.contact__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    inline-size: 523px;
}

.contact-title {
    font-size: 30px;
    text-transform: uppercase;
}

.form {
    background-image: linear-gradient(to right bottom, rgb(15, 21, 35), rgb(47, 53, 69));
    opacity: .95;
    border: 2px solid rgb(50, 57, 75, 0.3);
    border-radius: 10px;
}

.form__text {
    padding: 30px 30px 0;
    text-align: center;
}

.form-title {
    font-size: 30px;
    color: rgba(37, 187, 197, 1);
    font-weight: 600;
}

.form-subtitle {
    font-size: 18px;
    padding-block-start: 10px;
}

.form__inputs {
    padding: 40px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    inline-size: 440px;
}

.input {
    background-color: rgb(50, 57, 75);
    opacity: .9;
    border: none;
    border-radius: 6px;
    padding-inline-start: 14px;
    color: rgba(37, 187, 197, 1);
    font-size: 16px;
}

.form-text-area {
    padding-block-start: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-contact {
    block-size: 46px;
}

.form-text-area {
    block-size: 126px;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
}

.button-request {
    background-color: transparent;
    border: 2px solid rgba(37, 187, 197, 1);
    color: rgba(37, 187, 197, 1);
}

.button-send {
    background-color: rgba(37, 187, 197, 1);
    border: none;
}

.articles {
    padding: 90px 104px 80px;
}

.articles__title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-block-end: 50px;
    font-weight: 400;
}

.articles__list {
    display: flex;
    gap: 40px;
    overflow: hidden;
}

.card-bg {
    padding: 324px 28px 22px;
    border: 1px solid rgb(47, 53, 69);
    border-radius: 8px;
    inline-size: 394px;
}

.debate {
    background-image: url(/img/Card1.png);
    background-size: cover;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(1, 1, 6, 1);
    border-radius: 8px;
    padding: 24px;
}

.label-bg {
    padding: 4px 7px;
    background-color: rgba(37, 187, 197, 1);
    font-size: 10px;
    color: rgba(1, 1, 6, 1);
    border-radius: 2px;
}

.card-title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
}

.data {
    font-size: 14px;
    text-transform: uppercase;
}

.date {
    padding-inline-end: 8px;
    border-inline-end: 1px solid;
}

.time {
    padding-inline-start: 8px;
    color: rgba(96, 96, 96, 1);
}

.reasons {
    background-image: url(/img/Card2.png);
    background-size: cover;
}

.assets {
    background-image: url(/img/Card3.png);
    background-size: cover;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-block-start: 30px;
}

.carousel__button {
    background-color: transparent;
    border: none;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 48px 104px 0;
    background-color: rgba(19, 19, 19, 1);
}

.footer__ {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__menu-list {
    display: flex;
    gap: 32px;
    border-block-end: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-list-item {
    font-size: 16px;
    padding-block-end: 16px;
}

.footer-point::after {
    inline-size: 6px;
    block-size: 6px;
    bottom: 20%;
}

.socials {
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-block-end: 32px;
}

.terms {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 24px;
}

.docs {
    display: flex;
    gap: 24px;
}